In [1]:
import pandas as pd 
import numpy as np
from datetime import datetime, timedelta
# from ydata_profiling import ProfileReport

In [2]:
data = pd.read_csv("data/deliverytime.csv")
data.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)'],
      dtype='object')

In [3]:
data.head(10)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
5,0x3af3,MUMRES15DEL03,29.0,4.5,19.176269,72.836721,19.266269,72.926721,02-04-2022,20:25,20:35,Sandstorms,Jam,2,Buffet,electric_scooter,1.0,No,Metropolitian,20
6,0x3aab,MYSRES01DEL01,35.0,4.0,12.311072,76.654878,12.351072,76.694878,01-03-2022,14:55,15:10,Windy,High,1,Meal,scooter,1.0,No,Metropolitian,33
7,0x689b,PUNERES20DEL01,33.0,4.2,18.592718,73.773572,18.702718,73.883572,16-03-2022,20:30,20:40,Sandstorms,Jam,2,Snack,motorcycle,1.0,No,Metropolitian,40
8,0x6f67,HYDRES14DEL01,34.0,4.9,17.426228,78.407495,17.496228,78.477495,20-03-2022,20:40,20:50,Cloudy,Jam,0,Snack,motorcycle,NaN,No,Metropolitian,41
9,0xc9cf,KOLRES15DEL03,21.0,4.7,22.552672,88.352885,22.582672,88.382885,15-02-2022,21:15,21:30,Windy,Jam,0,Meal,motorcycle,1.0,No,Urban,15

In [4]:

data['Time_Orderd']=pd.DatetimeIndex(data["Order_Date"])
# data['orderd_hour'] = pd.to_datetime(data['Time_Orderd'], format='%H:%M').dt.hour

data.info()

/tmp/ipykernel_180043/2015241490.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['Time_Orderd']=pd.DatetimeIndex(data["Order_Date"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43730 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  45584 non-null  datetime64[ns]
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(2), object(10)
memory usage: 7.0+ MB

In [ ]:
def convert_datetime(col_name):
    return pd.DatetimeIndex(col_name)

In [26]:
data=data.drop(columns=["ID","Delivery_person_ID"],axis=1)

In [27]:
data.head(5)

Unexpected exception formatting exception. Falling back to standard exception
Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/formatters.py", line 222, in catch_format_error
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/formatters.py", line 707, in __call__
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/lib/pretty.py", line 410, in pretty
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/lib/pretty.py", line 778, in _repr_pprint
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/core/frame.py", line 1064, in __repr__
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/core/frame.py", line 1245, in to_string
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/io/formats/format.py", line 1133, in to_string
ModuleNotFoundError: No module named 'pandas.io.formats.string'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pygments/styles/__init__.py", line 89, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 1993, in showtraceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 799, in format_exception_as_a_whole
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 844, in get_records
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pygments/styles/__init__.py", line 91, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'default', though it should be builtin.
Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/formatters.py", line 222, in catch_format_error
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/formatters.py", line 343, in __call__
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/core/frame.py", line 1106, in _repr_html_
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/io/formats/format.py", line 1096, in to_html
ModuleNotFoundError: No module named 'pandas.io.formats.html'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pygments/styles/__init__.py", line 89, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 1993, in showtraceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 799, in format_exception_as_a_whole
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 844, in get_records
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pygments/styles/__init__.py", line 91, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'default', though it should be builtin.

In [7]:
data["Order_Date"]=pd.to_datetime(data["Order_Date"],infer_datetime_format=True)

/tmp/ipykernel_120832/2282665465.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data["Order_Date"]=pd.to_datetime(data["Order_Date"],infer_datetime_format=True)

In [21]:
data["Ordered_Year"]=data["Order_Date"].dt.year
data["Ordered_Month"]=data["Order_Date"].dt.month
data["Ordered_Day"]=data["Order_Date"].dt.day

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3398, in run_code
  File "/tmp/ipykernel_155304/361669457.py", line 1, in <cell line: 1>
    data["Ordered_Year"]=data["Order_Date"].dt.year
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/core/generic.py", line 5902, in __getattr__
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/core/accessor.py", line 182, in __get__
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/core/indexes/accessors.py", line 512, in __new__
AttributeError: Can only use .dt accessor with datetimelike values

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pygments/styles/__init__.py", line 89, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 1993, in showtraceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 799, in format_exception_as_a_whole
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 844, in get_records
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pygments/styles/__init__.py", line 91, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'default', though it should be builtin.

In [9]:
data=data.drop(columns="Order_Date",axis=1)

In [22]:
data["Time_Orderd"]=data["Time_Orderd"].astype('str')
data["Time_Orderd"]=data["Time_Orderd"].apply(lambda x : x[0] if "." in x else x)
data["Time_Orderd"]=data["Time_Orderd"].apply(lambda x :'0'+x+":00" if x=='1' else x)
data["Time_Orderd"]=data["Time_Orderd"].apply(lambda x :'01'+x[2:5] if x[0:2]=='24' else x)
data["Time_Orderd"]=data["Time_Orderd"].apply(lambda x :'0' if x=='nan'else x)
data["Time_Orderd"]=data["Time_Orderd"].apply(lambda x :'00:00' if x=='0'else x)
data['Time_Orderd'] = np.where(data['Time_Orderd'] == '00:00', data.apply(subtract_time, axis=1), data['Time_Orderd'])


data["Time_Order_picked"]=data["Time_Order_picked"].astype('str')
data["Time_Order_picked"]=data["Time_Order_picked"].apply(lambda x : x[0] if "." in x else x)
data["Time_Order_picked"]=data["Time_Order_picked"].apply(lambda x :'0'+x+":00" if x=='1' else x)
data["Time_Order_picked"]=data["Time_Order_picked"].apply(lambda x :'01'+ x[2:5] if x[0:2]=='24' else x)
data["Time_Order_picked"]=data["Time_Order_picked"].apply(lambda x :'0' if x=='nan'else x)
data["Time_Order_picked"]=data["Time_Order_picked"].apply(lambda x :'00:00' if x=='0'else x)
data['Time_Order_picked'] = np.where(data['Time_Order_picked'] == '00:00', data.apply(add_time, axis=1), data['Time_Order_picked'])

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3398, in run_code
  File "/tmp/ipykernel_155304/1915591808.py", line 7, in <cell line: 7>
    data['Time_Orderd'] = np.where(data['Time_Orderd'] == '00:00', data.apply(subtract_time, axis=1), data['Time_Orderd'])
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/core/frame.py", line 9568, in apply
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/core/apply.py", line 764, in apply
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/core/apply.py", line 891, in apply_standard
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pandas/core/apply.py", line 907, in apply_series_generator
  File "/tmp/ipykernel_155304/4054614663.py", line 3, in subtract_time
    pickup_time = datetime.strptime(row['Time_Order_picked'], "%H:%M")
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/_strptime.py", line 568, in _strptime_datetime
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/_strptime.py", line 349, in _strptime
ValueError: time data '24:05:00' does not match format '%H:%M'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pygments/styles/__init__.py", line 89, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 1993, in showtraceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 799, in format_exception_as_a_whole
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 844, in get_records
  File "/home/shahabas/shahabas/delivery_time_prediction/venv/lib/python3.10/site-packages/pygments/styles/__init__.py", line 91, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'default', though it should be builtin.

In [15]:
def subtract_time(row):
    if row['Time_Orderd'] == '00:00':
        pickup_time = datetime.strptime(row['Time_Order_picked'], "%H:%M")
        time_diff = timedelta(hours=0, minutes=15)
        updated_time = pickup_time - time_diff
        return updated_time.strftime("%H:%M")
    else:
        return row['Time_Orderd']

In [16]:
def add_time(row):
    if row['Time_Order_picked'] == '00:00':
        orderd_time = datetime.strptime(row['Time_Orderd'], "%H:%M")
        time_diff = timedelta(hours=0, minutes=15)
        updated_time = orderd_time + time_diff
        return updated_time.strftime("%H:%M")
    else:
        return row['Time_Order_picked']

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          43730 non-null  float64
 1   Delivery_person_Ratings      43676 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Time_Orderd                  45584 non-null  object
 7   Time_Order_picked            45584 non-null  object
 8   Weather_conditions           44968 non-null  object
 9   Road_traffic_density         44983 non-null  object
 10  Vehicle_condition            45584 non-null  int64
 11  Type_of_order                45584 non-null  object
 12  Type_of_vehicle              45584 non-null  object
 13  multiple_deliveries          44591 non-null  float64
 14  Festival                     45356 non-null  object
 15  City                         44384 non-null  object
 16  Time_taken (min)             45584 non-null  int64
 17  Ordered_Year                 45584 non-null  int64
 18  Ordered_Month                45584 non-null  int64
 19  Ordered_Day                  45584 non-null  int64
dtypes: float64(7), int64(5), object(8)
memory usage: 7.0+ MB

In [211]:
data['Delivery_person_Age']=data['Delivery_person_Age'].astype('int')

In [208]:
data[data['Delivery_person_Ratings'].isnull()]

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Ordered_Year,Ordered_Month,Ordered_Day
33,30.0,NaN,19.121999,72.908493,19.201999,72.988493,18:20,18:35,Cloudy,Medium,1,Drinks,scooter,1.0,No,Metropolitian,33,2022,6,4
65,30.0,NaN,12.935662,77.614130,12.975662,77.654130,15:15,15:30,Fog,Low,1,Drinks,scooter,0.0,No,Metropolitian,19,2022,11,3
111,30.0,NaN,22.312790,73.170283,22.422790,73.280283,18:10,18:25,Fog,Low,3,Snack,electric_scooter,0.0,No,Metropolitian,25,2022,2,4
118,23.0,NaN,22.569358,88.433452,22.599358,88.463452,23:25,23:35,Sunny,Low,0,Drinks,motorcycle,0.0,No,Metropolitian,15,2022,2,17
131,30.0,NaN,18.543626,73.905101,18.573626,73.935101,23:25,23:40,Stormy,Low,2,Snack,scooter,0.0,No,Metropolitian,19,2022,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45499,30.0,NaN,17.455894,78.375467,17.525894,78.445467,17:55,18:10,Fog,Medium,0,Meal,motorcycle,1.0,No,Urban,36,2022,3,23
45509,30.0,NaN,22.727021,75.884167,22.737021,75.894167,11:25,11:40,Fog,Low,3,Snack,electric_scooter,0.0,No,Metropolitian,25,2022,3,19
45510,30.0,NaN,27.160934,78.044095,27.170934,78.054095,08:50,09:05,Fog,Low,3,Meal,electric_scooter,1.0,No,Urban,17,2022,2,13
45517,30.0,NaN,26.913987,75.752891,27.023987,75.862891,20:35,20:45,Cloudy,Jam,2,Snack,scooter,0.0,No,Metropolitian,48,2022,3,27
45557,30.0,NaN,21.185047,72.808590,21.205047,72.828590,10:35,10:50,Windy,Low,2,Meal,scooter,0.0,No,Urban,12,2022,3,4

In [24]:
data["orderd_hour"]=data["Time_Orderd"].apply(lambda x : x[0:2])

In [27]:
data["orderd_minute"]=data["Time_Orderd"].apply(lambda x : x[3:])

In [29]:
data=data.drop(columns="Time_Orderd",axis=1)

In [30]:
data["orderd_picked_hour"]=data["Time_Order_picked"].apply(lambda x : x[0:2])
data["orderd_picked_minute"]=data["Time_Order_picked"].apply(lambda x : x[3:])

In [31]:
data=data.drop(columns="Time_Order_picked",axis=1)

In [32]:
data.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,...,Festival,City,Time_taken (min),Ordered_Year,Ordered_Month,Ordered_Day,orderd_hour,orderd_minute,orderd_picked_hour,orderd_picked_minute
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,...,No,Metropolitian,46,2022,12,2,21,55,22,10
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,...,No,Metropolitian,23,2022,2,13,14,55,15,05
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,...,No,Metropolitian,21,2022,4,3,17,30,17,40
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,...,No,Metropolitian,20,2022,2,13,09,20,09,30
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,...,No,Metropolitian,41,2022,2,14,19,50,20,05

In [34]:
data["orderd_hour"]=data["orderd_hour"].astype(int)
data["orderd_minute"]=data["orderd_minute"].astype(int)
data["orderd_picked_hour"]=data["orderd_picked_hour"].astype(int)
data["orderd_picked_minute"]=data["orderd_picked_minute"].astype(int)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          43730 non-null  float64
 1   Delivery_person_Ratings      43676 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Weather_conditions           44968 non-null  object
 7   Road_traffic_density         44983 non-null  object
 8   Vehicle_condition            45584 non-null  int64
 9   Type_of_order                45584 non-null  object
 10  Type_of_vehicle              45584 non-null  object
 11  multiple_deliveries          44591 non-null  float64
 12  Festival                     45356 non-null  object
 13  City                         44384 non-null  object
 14  Time_taken (min)             45584 non-null  int64
 15  Ordered_Year                 45584 non-null  int64
 16  Ordered_Month                45584 non-null  int64
 17  Ordered_Day                  45584 non-null  int64
 18  orderd_hour                  45584 non-null  int64
 19  orderd_minute                45584 non-null  int64
 20  orderd_picked_hour           45584 non-null  int64
 21  orderd_picked_minute         45584 non-null  int64
dtypes: float64(7), int64(9), object(6)
memory usage: 7.7+ MB

In [36]:
numerical=[]
categorical=[]
for i in data.columns:
    if data[i].dtype=="object":
        categorical.append(i)
    else:
        numerical.append(i)

In [37]:
numerical

['Delivery_person_Age',
 'Delivery_person_Ratings',
 'Restaurant_latitude',
 'Restaurant_longitude',
 'Delivery_location_latitude',
 'Delivery_location_longitude',
 'Vehicle_condition',
 'multiple_deliveries',
 'Time_taken (min)',
 'Ordered_Year',
 'Ordered_Month',
 'Ordered_Day',
 'orderd_hour',
 'orderd_minute',
 'orderd_picked_hour',
 'orderd_picked_minute']

In [38]:
categorical

['Weather_conditions',
 'Road_traffic_density',
 'Type_of_order',
 'Type_of_vehicle',
 'Festival',
 'City']